/*
 *  =============================================
 *  GLOBAL
 *  =============================================
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 1em/1.5 $font-body;
  color: #3b3b3b;
}

:focus {
  outline: 2px solid;
  outline-offset: 1px;
}

::selection {
  background: rgba(0, 0, 0, .66);
  color: #fff;
}

::-moz-selection {
  background: rgba(0, 0, 0, .66);
  color: #fff;
}

a:link, a:visited {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 1px dashed transparent;
  background: rgba(0, 0, 0, .66);
  color: #fff;
}

/*
 *  --------------------------------------------
 *  TEXT
 *  --------------------------------------------
 */

h1, .h1, h2, .h2 {
  font: 2rem/1.1 $font-heading;
}

h2, .h2, h3 {
  @include all-caps();
  margin: 2.25rem 0 $space-s;
  font-size: 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.h2 {
  display: block;
}

h3 {
  font-size: .875rem;
}

p, ul, ol {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

/*
 *  --------------------------------------------
 *  HEADER + FOOTER
 *  --------------------------------------------
 */

.site-header,
.site-footer {
  padding: $space-s;
  text-align: center;
}

.site-header {
  border-bottom: 3px double;
}

.site-footer {
  border-top: 3px double;
  font-size: .875em;
}

.site-header__home {
  @include all-caps();
  font: 1.5em/1.1 $font-heading;
}

.site-header__home {
  &:link, &:visited {
    border-bottom: 3px dashed transparent;
  }

  &:hover {
    border-bottom: 3px solid;
    background-color: transparent;
    color: #000;
  }
}

.site-footer__github {
  display: inline-block;
}

.icon-defs {
  display: none;
}

/*
 *  --------------------------------------------
 *  MAIN
 *  --------------------------------------------
 */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
 *  =============================================
 *  UTILITIES
 *  Anything prefixed with "u-"
 *  =============================================
 */

 .u-vis-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 *  =============================================
 *  COMPONENTS
 *  =============================================
 */

/*
 *  --------------------------------------------
 *  COMPONENT: SEASON INFO
 *  --------------------------------------------
 */

.c-season-info {
  text-align: center;
}

.c-season-info__dates {
  margin: $space-s auto $space-xxs;
}

.c-season-info__icon {
  margin: 0 auto;
}