/*
 *  =============================================
 *  GLOBAL
 *  =============================================
 */

/*
 *  --------------------------------------------
 *  COLOR
 *  --------------------------------------------
 */

 :root {
  color-scheme: light dark;

  --color-bg: #fcfcfc;
  --color-body: #3b3b3b;
  --color-home-link-hover: #000;
  --color-lines: currentColor;
  --color-link: #000;
  --color-link-hover: #fff;
  --color-link-hover-bg: rgba(0, 0, 0, .66);
  --color-pagination-link-border: rgba(0,0,0,0);
  --color-pagination-link-hover: #000;
  --color-pagination-link-hover-border: rgba(0,0,0,.5);
  --color-selection: #fff;
  --color-selection-bg: rgba(0, 0, 0, .66);

  --color-late-winter: #edf3f4;
  --color-early-spring: #f2f7f4;
  --color-late-spring: #f4f8f3;
  --color-early-summer: #f2f2f0;
  --color-late-summer: #f2f1f0;
  --color-early-autumn: #f4f2f2;
  --color-late-autumn: #f2f0f1;
  --color-early-winter: #f2f2f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1b1b1b;
    --color-body: #a2a2a2;
    --color-home-link-hover: #e2e2e2;
    --color-lines: rgba(255, 255, 255, .2);
    --color-link: #c2c2c2;
    --color-link-hover: #000;
    --color-link-hover-bg: rgba(255, 255, 255, .66);
    --color-pagination-link-border: rgba(255,255,255,0);
    --color-pagination-link-hover-border: rgba(255,255,255,.5);
    --color-pagination-link-hover: #e2e2e2;
    --color-selection: #000;
    --color-selection-bg: rgba(255, 255, 255, .5);

    --color-late-winter: #242626;
    --color-early-spring: #242625;
    --color-late-spring: #252624;
    --color-early-summer: #262624;
    --color-late-summer: #262524;
    --color-early-autumn: #262424;
    --color-late-autumn: #262425;
    --color-early-winter: #242426;
  }
}

/*
 *  --------------------------------------------
 *  BASICS
 *  --------------------------------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 1em/1.5 $font-body;
  background-color: var(--color-bg);
  color: var(--color-body);
}

:focus {
  outline: 2px solid;
  outline-offset: 1px;
}

::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection);
}

::-moz-selection {
  background: var(--color-selection-bg);
  color: var(--color-selection);
}

a:link, a:visited {
  border-bottom: 1px solid;
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  border-bottom: 1px dashed transparent;
  background: var(--color-link-hover-bg);
  color: var(--color-link-hover);
}

@media (min-width: $bp-m) and (max-width: $bp-l),
       (min-width: $bp-xxl) {
  body {
    font-size: 1.125em;
  }
}

@media (min-width: $bp-xxxl) {
  body {
    font-size: 1.25em;
  }
}

/*
 *  --------------------------------------------
 *  TEXT
 *  --------------------------------------------
 */

h1, .h1, h2, .h2 {
  font: 2rem/1.1 $font-heading;
}

h2, .h2, h3 {
  @include all-caps();
  margin: 2.25rem 0 $space-s;
  font-size: 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.h2 {
  display: block;
}

h3 {
  font-size: .875rem;
}

p, ul, ol {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

/*
 *  --------------------------------------------
 *  HEADER + FOOTER
 *  --------------------------------------------
 */

.site-header,
.site-footer {
  padding: $space-s;
  text-align: center;
}

.site-header {
  border-bottom: 3px double var(--color-lines);
}

.site-footer {
  border-top: 3px double var(--color-lines);
  font-size: .875em;
}

.site-header__home {
  @include all-caps();
  font: 1.5em/1.1 $font-heading;
}

.site-header__home {
  &:link, &:visited {
    border-bottom: 3px dashed transparent;
  }

  &:hover {
    border-bottom: 3px solid;
    background-color: transparent;
    color: var(--color-home-link-hover);
  }
}

.site-footer__github {
  display: inline-block;
}

.icon-defs {
  display: none;
}

/*
 *  --------------------------------------------
 *  MAIN
 *  --------------------------------------------
 */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
 *  =============================================
 *  UTILITIES
 *  Anything prefixed with "u-"
 *  =============================================
 */

 .u-vis-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 *  =============================================
 *  COMPONENTS
 *  =============================================
 */

/*
 *  --------------------------------------------
 *  COMPONENT: SEASON INFO
 *  --------------------------------------------
 */

.c-season-info {
  text-align: center;
}

.c-season-info__dates {
  margin: $space-s auto $space-xxs;
}

.c-season-info__icon {
  margin: 0 auto;
}