/*
 *  =============================================
 *  HOME
 *  =============================================
 */

.site-masthead {
  margin: 0 auto;
  padding: 3rem $space-s;
  max-width: 42rem;
}

.season-items {
  @include bare-list();
}

.season-item {
  @include bare-list-item();
  outline: 1px solid var(--color-lines);
  padding: $space-s;
}

.season-item__link {
  flex: 1;
  display: block;
  position: relative;
  padding: $space-m;
  font-family: $font-heading;
  line-height: 1.1;
  text-align: center;
  transition: background-color ease-in-out 200ms;

  &::after {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border: 1px solid;
    content: "";
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 200ms;
  }

  &:link, &:visited {
    color: currentColor;
  }

  &:hover, &:focus {
    &::after {
      opacity: .9;
    }

    .season-item__arrow {
      transform: translateX(.125em);
    }
  }

  &:focus {
    outline: 0;
  }
}

.season-item__link:link, .season-item__link:visited {
  border-bottom: 0;
}

.season-item__title {
  font-size: 1.625rem;
}

.season-item__arrow {
  display: inline;
  width: auto;
  height: .5em;
  transition: transform ease-in-out 200ms;
}

@media (min-width: $bp-m) {
  .body--home main {
    display: flex;
    flex-direction: column;
  }

  .site-masthead {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .season-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .season-item {
    display: flex;
  }
}

@media (min-width: $bp-l) {
  .site-masthead {
    padding: 4rem 1rem;
  }

  .season-items {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*
 *  --------------------------------------------
 *  SEASON ITEM BACKGROUNDS
 *  --------------------------------------------
 */

.season-item__link--late-winter:hover,
.season-item__link--late-winter:focus {
  background-color: var(--color-late-winter);
}

.season-item__link--early-spring:hover,
.season-item__link--early-spring:focus {
  background-color: var(--color-early-spring);
}

.season-item__link--late-spring:hover,
.season-item__link--late-spring:focus {
  background-color: var(--color-late-spring);
}

.season-item__link--early-summer:hover,
.season-item__link--early-summer:focus {
  background-color: var(--color-early-summer);
}

.season-item__link--late-summer:hover,
.season-item__link--late-summer:focus {
  background-color: var(--color-late-summer);
}

.season-item__link--early-autumn:hover,
.season-item__link--early-autumn:focus {
  background-color: var(--color-early-autumn);
}

.season-item__link--late-autumn:hover,
.season-item__link--late-autumn:focus {
  background-color: var(--color-late-autumn);
}

.season-item__link--early-winter:hover,
.season-item__link--early-winter:focus {
  background-color: var(--color-early-winter);
}

/*
 *  --------------------------------------------
 *  FORCED COLOR MODES
 *  CurrenColor styles can be removed when UAs implement: 
 *  https://github.com/w3c/csswg-drafts/issues/6310
 *  --------------------------------------------
 */

@media (forced-colors: active) {
  .c-season-info__icon {
    circle, ellipse, line, path, polygon, polyline, rect {
      stroke: LinkText;
      fill: Canvas;
    }
  }

  .c-season-info__icon--late-summer {
    circle, ellipse, line, path, polygon, polyline, rect {
      fill: transparent;
    }

    .svg__fill-shape {
      fill: LinkText;
    }
  }
}