/*
 *  =============================================
 *  SASS HELPERS
 *  =============================================
 */

/*
 *  --------------------------------------------
 *  SPACING
 *  --------------------------------------------
 */

$space-xxs: .5rem;
$space-xs: .75rem;
$space-s: 1.5rem;
$space-m: 3rem;

/*
 *  --------------------------------------------
 *  BREAKPOINTS
 *  --------------------------------------------
 */

$bp-s: 32em;
$bp-m: 48em;
$bp-l: 64em;
$bp-xl: 80em;

/*
 *  --------------------------------------------
 *  FONTS
 *  --------------------------------------------
 */

$font-heading: "Young Serif", Georgia, serif;
$font-body: "Libre Baskerville", Georgia, serif;

/*
 *  --------------------------------------------
 *  MIXINS
 *  --------------------------------------------
 */

@mixin all-caps() {
  text-transform: uppercase;
  letter-spacing: .03em;
}

@mixin bare-list() {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

@mixin bare-list-item() {
  margin-left: 0;
    padding-left: 0;
}