{% if ideaList|length > 0 %}
  <ul role="list" class="c-ideas c-ideas--{{ ideaListSlug }}" aria-labelledby="{{ ideaListSlug }}-title">
    {% for item in ideaList %}
      <li>
        {% if ideaListSlug == "produce" %}
          {{ item }}
        {% else %}
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
          {% if item.desc %}
            <p class="c-idea__desc">{{ item.desc }}</p>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="c-empty-ideas">No ideas listed yet</p>
{% endif %}