<footer role="contentinfo" class="site-footer">
  <p>An ode to seasonal living, made by <a href="https://melanie-richards.com">Melanie Richards</a>. <a class="site-footer__github" href="https://github.com/melanierichards/seasons.melanie-richards.com">View source on Github</a>. Idea sources include: <a href="https://bucketlistjourney.net/">Buckelist Journey</a>, <a href="https://www.mabonhouse.co/">Mabon House</a>, <a href="https://www.almanac.com/">The Old Farmer’s Almanac</a>, <a href="https://www.thespruceeats.com/washington-seasonal-fruits-and-vegetables-2217197">The Spruce Eats</a>, and <a href="https://visitseattle.org/things-to-do/events/festivals/">Visit Seattle</a>.</p>
</footer>