<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title }}</title>
  {% if description %}
    <meta name="description" content="{{ description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="robots" content="index, follow">

  <!-- SOCIAL MEDIA -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="twitter:site" content="">

  <meta property="og:url" content="{{ site.url }}{{ url }}">
  <meta name="twitter:url" content="{{ site.url }}{{ url }}">
  
  {% if title %}
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
  {% else %}
    <meta property="og:title" content="{{ site.title }}">
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}

  {% if description %}
    <meta property="og:description" content="{{ description }}">
    <meta property="twitter:description" content="{{ description }}">
  {% endif %}

  {% if featureSrc and featureExt %}
    <meta property="og:image" content="{{ site.url }}{{ site.images }}/content/{{ featureSrc}}-m.{{ featureExt }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="{{ site.url }}{{ site.images }}/content/{{ featureSrc}}-m.{{ featureExt }}">
    {% if featureAlt %}
      <meta name="twitter:image:alt" content="{{ featureAlt }}">
    {% endif %}
  {% else %}
    <meta name="og:image" content="{{ site.url }}/assets/images/favicon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/favicon.png">
    <meta name="twitter:image:alt" content="Melanie Richards’s fiber crafts favicon">
  {% endif %}

  <!-- IF RSS
  <link rel="alternate" type="application/rss+xml" title="" href="">
  -->
  <link rel="canonical" href="{{ site.url }}{{ url }}">

  <!-- ICONS -->
  <link rel="icon" href="/assets/images/favicon.ico">
  <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png"> <!-- 180 x 180 -->
  <link rel="manifest" href="/manifest.webmanifest">

  <!-- STYLE -->
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/print.css" media="print">
</head>