<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title | escape }} - {% endif %}{{ site.title }}</title>
  {% if description %}
    <meta name="description" content="{{ description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="robots" content="index, follow">

  <!-- SOCIAL MEDIA -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@soMelanieSaid">

  <meta property="og:url" content="{{ site.url }}{{ url }}">
  <meta name="twitter:url" content="{{ site.url }}{{ url }}">
  <meta name="og:image" content="{{ site.url }}/assets/images/site-icon-512.png">
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/site-icon-512.png">
  <meta name="twitter:image:alt" content="Sea Seasons W / S / S / A surrounded by a circle divided into eighths">
  
  {% if title %}
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
  {% else %}
    <meta property="og:title" content="{{ site.title }}">
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}

  {% if description %}
    <meta property="og:description" content="{{ description }}">
    <meta property="twitter:description" content="{{ description }}">
  {% else %}
    <meta property="og:description" content="{{ site.description }}">
    <meta property="twitter:description" content="{{ site.description }}">
  {% endif %}

  <link rel="canonical" href="{{ site.url }}{{ url }}">

  <!-- ICONS -->
  <link rel="icon" href="/assets/images/site-icon-32.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/images/site-icon-180.png"> <!-- Apple touch icon -->
  <link rel="manifest" href="/manifest.webmanifest">

  <!-- STYLE -->
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>