<!DOCTYPE html>
<html lang="en" {% if slug %}class="html--{{ slug }}"{% endif %}>
{% include "head.njk" %}
<body {% if slug %}class="body--{{ slug }}"{% endif %}>
  {% include "header.njk" %}
  <main role="main" id="main">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  </body>
</html>