---
layout: layouts/global.njk
pagination:
  data: collections.posts
  size: 8
  alias: posts
---

<h1 id="home-title" class="u-vis-hidden">{{ title }}</h1>
<div class="site-masthead">
  {{ content | safe }}
</div>

<ul class="u-bare-list season-items" aria-labelledby="home-title">
  {% for post in posts %}
    <li class="c-season-info season-item">
      <a href="{{ post.url }}" class="season-item__link season-item__link--{{ post.data.title | slug }}">
        {% set season_slug = post.data.title | slug %}
        {% set season_svg = '/assets/images/simple-' + season_slug + '.svg' %}
        {{ season_svg | svgContents | safe }}
        <span class="h2 c-season-info__dates">{{ post.data.dateRange }}</span>
        <span class="h1 c-season-info__title season-item__title">
          {{ post.data.title }}
          <svg focusable="false" aria-hidden="true" class="season-item__arrow" viewBox="0 0 11 16" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#right-arrow" />
          </svg>
        </span>
      </a>
    </li>
  {% endfor %}
</ul>