---
layout: layouts/global.njk
---

{% set seasonSlug = page.fileSlug %}
{% set seasonData = seasons[seasonSlug] %}

<div class="season-sections">

  <div class="season-section c-season-info season-masthead">
    <h1>
      <span class="h2 c-season-info__dates">{{ dateRange }}</span>
      {{ title }}
    </h1>
    {% set season_slug = title | slug %}
    {% set season_svg = '/assets/images/simple-' + season_slug + '.svg' %}
    {{ season_svg | svgContents | safe }}
    <div class="season-masthead__desc">{{ content | safe }}</div>
  </div>
  
  <div class="season-section">
    <h2 id="activities-title">Activities</h2>
    {% set ideaListSlug = "activities" %}
    {% set ideaList = seasonData.activities %}
    {% include "c-ideas.njk" %}
  </div>

  <div class="season-section">
    <h2 id="events-title">Events</h2>
    {% set ideaListSlug = "events" %}
    {% set ideaList = seasonData.events %}
    {% include "c-ideas.njk" %}
  </div>

  <div class="season-section">
    <h2 id="produce-title">Produce</h2>
    {% set ideaListSlug = "produce" %}
    {% set ideaList = seasonData.produce %}
    {% include "c-ideas.njk" %}
  </div>

</div>

<!-- PAGINATION -->
{% set currentItemIndex = 0 %}

{% for item in collections.posts %}
  {% if item.url == page.url %}
    {% set currentItemIndex = loop.index0 %}
  {% endif %}
{% endfor %}

{% set prevItemIndex = currentItemIndex - 1 %}
{% set nextItemIndex = currentItemIndex + 1 %}

<nav class="c-pagination c-pagination--post" aria-labelledby="pagination-heading">
  <h2 id="pagination-heading" class="u-vis-hidden">Navigate by season</h2>
  {% if prevItemIndex >= 0 %}
    {% set prev = collections.posts[prevItemIndex] %}
    <a class="c-pagination__older" href="{{ prev.url }}">
      <svg focusable="false" aria-hidden="true" class="c-pagination__icon" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#pagination-older" />
      </svg>
      <span>{{ prev.data.title }}</span>
    </a>
  {% endif %}
  <a href="/" class="c-pagination__all">
    <span>All seasons</span>
  </a>
  {% if nextItemIndex < collections.posts.length %}
    {% set next = collections.posts[nextItemIndex] %}
    <a class="c-pagination__newer" href="{{ next.url }}">
      <svg focusable="false" aria-hidden="true" class="c-pagination__icon" viewBox="0 0 12 13" x="-13" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#pagination-newer" />
      </svg>
      <span>{{ next.data.title }}</span>
    </a>
  {% endif %}
</nav>